Change proposals for the definition of the terms "Referenced Token" and " Status List Token"

The current definition of a Referenced Token is:

> Referenced Token:
> A cryptographically secured data structure that contains a reference to a Status List Token. It is RECOMMENDED to use JSON [[RFC8259](https://drafts.oauth.net/draft-ietf-oauth-status-list/draft-ietf-oauth-status-list.html#RFC8259)] with JOSE as defined in [[RFC7515](https://drafts.oauth.net/draft-ietf-oauth-status-list/draft-ietf-oauth-status-list.html#RFC7515)] or CBOR [[RFC8949](https://drafts.oauth.net/draft-ietf-oauth-status-list/draft-ietf-oauth-status-list.html#RFC8949)] with COSE as defined in [[RFC9052](https://drafts.oauth.net/draft-ietf-oauth-status-list/draft-ietf-oauth-status-list.html#RFC9052)]. The information from the contained Status List gives the Relying Party additional information about the current status of the Referenced Token. Examples for Referenced Tokens are SD-JWT VC and ISO mdoc.

This definition does not match with the definition of a status claim which is:

> 6.1. Status Claim 
> 
> By including a "status" claim in a Referenced Token, the Issuer is **referencing a mechanism** to retrieve status information 
about this Referenced Token. 

> The claim contains members used to reference to a Status List Token as defined in this specification. Other members of the "status" object may be defined by other specifications. This is analogous to "cnf" claim in Section 3.1 of [RFC7800] in which different authenticity confirmation methods can be included.
> 

It is proposed to change this definition into:

> Referenced Token: A cryptographically secured data structure that includes a "status" claim that is referencing a mechanism to retrieve status information about this Referenced Token. 
> While several mechanisms are possible, this document documents a single mechanism where the "status" claim contains both a reference to a Status List Token and an index specific to the Referenced Token that allows a Relying Party to check for status information in the Status List Token for the current Referenced Token. Examples of Referenced Tokens are X.509 PKCs, SD-JWT VC and ISO mdoc.


At the moment "Status List Token" is defined as:

> A token in JWT or CWT representation that contains a cryptographically secured Status List.

This is correct. However some text that is present in the definition of "Referenced Token" should be moved afterwards.

Text change proposal:

> Status List Token : A token in JWT or CWT representation that contains a cryptographically secured Status List. 
It is RECOMMENDED to use JSON [[RFC8259](https://drafts.oauth.net/draft-ietf-oauth-status-list/draft-ietf-oauth-status-list.html#RFC8259)] with JOSE as defined in [[RFC7515](https://drafts.oauth.net/draft-ietf-oauth-status-list/draft-ietf-oauth-status-list.html#RFC7515)] or CBOR [[RFC8949](https://drafts.oauth.net/draft-ietf-oauth-status-list/draft-ietf-oauth-status-list.html#RFC8949)] with COSE as defined in [[RFC9052](https://drafts.oauth.net/draft-ietf-oauth-status-list/draft-ietf-oauth-status-list.html#RFC9052)].