new Feedback from IANA Operations Manager

From email communication:


> 1) It's not clear what the upper numeric boundary for the "Value" field is for the Status Type values in Section 14.5. Could you add a sentence like "Assignable [valid?] Status Type values range from 0x00-0xFF" [if that's accurate]?
> 
> 2) Almost every registry at https://www.iana.org/assignments/oauth-parameters has a name that begins with the string  "OAuth." Would it be appropriate to change the name of the "Status Types" registry to "OAuth Status Types"?
> 
> 3) In the first paragraph of each subsection that describes a new registry, the registry name is presented in quotation marks, but it doesn't match the registry name that appears as the title of the subsection. It's missing the "JWT" or "CWT" (or "OAuth") prefix. 
> 
> 4) Locations: I see that you've listed a URL for each new registry below. Can you add both this and the registry group name to each subsection? 
> 
> To address #3 and #4, I can suggest this text:
> 
> OLD: This specification establishes the IANA "Status Mechanism Methods" registry for JWT "status" member values. The registry records the status mechanism method member and a reference to the specification that defines it.
> 
> NEW: This specification establishes the IANA "JWT Status Mechanism Methods" registry for JWT "status" member values and adds it to the "JSON Web Token (JWT)" registry group at https://www.iana.org/assignments/jwt. The registry records the status mechanism method member and a reference to the specification that defines it.
> 
> OLD: This specification establishes the IANA "Status Mechanism Methods" registry for CWT "status" member values. The registry records the status mechanism method member and a reference to the specification that defines it.
> 
> NEW: This specification establishes the IANA "CWT Status Mechanism Methods" registry for CWT "status" member values and adds it to the "CBOR Web Token (CWT) Claims" registry group at https://www.iana.org/assignments/cwt. The registry records the status mechanism method member and a reference to the specification that defines it.
> 
> OLD: This specification establishes the IANA "Status Types" registry for Status List values. The registry records the a human readable label, the bit representation and a common description for it.
> 
> NEW: This specification establishes the IANA "OAuth Status Types" registry for Status List values and adds it to the "OAuth Parameters" registry group at https://www.iana.org/assignments/oauth-parameters. The registry records the a human readable label, the bit representation and a common description for it. Assignable Status Type values range from 0x00-0xFF [again, assuming this is correct]. 
> 
> Finally, one question, and I don't know whether this is at all relevant to your use case: would it be appropriate to reserve any values in the new Status Types registry, whether for Private Use, Experimental Use, or future extensibility? You can find definitions of the terms "Reserved," "Private Use," and "Experimental Use" in Section 6 of RFC 8126:
> 
> https://www.rfc-editor.org/rfc/rfc8126.html
> 