Resilience of the architecture when facing network problems ?

The text states:

> The Status Issuer provides the Status List Token to the Status Provider, who serves the Status List Token on a public, resolvable endpoint.
> 
> Status Provider:  An entity that provides the Status List Token on a public endpoint.  This role may be fulfilled by the Status Issuer.
> What happens if this resolvable endpoint is temporarily not reachable (e.g., because it is overloaded) ? 

The OPTIONAL aggregation_uri does not solve the concern as it is present in the Status List Token and not in the Referenced Token

Section 3.1 (Certificate Content) from RFC 6960 states:

>    In order to convey to OCSP clients a well-known point of information
>    access, CAs SHALL provide the capability to include the authority
>    information access extension (defined in [RFC5280], Section 4.2.2.1)
>    in certificates that can be checked using OCSP.  Alternatively, the
>    accessLocation for the OCSP provider may be configured locally at the
>    OCSP client.
> 
>    CAs that support an OCSP service, either hosted locally or provided
>    by an Authorized Responder, MUST provide for the inclusion of a value
>    for a Uniform Resource Identifier (URI) [RFC3986] accessLocation and
>    the OID value id-ad-ocsp for the accessMethod in the
>    AccessDescription SEQUENCE.

Section 4.2.2.1 (Authority Information Access) from RFC 5280 states:

>    The authority information access extension indicates how to access
>    information and services for the issuer of the certificate in which
>    the extension appears.  Information and services may include on-line
>    validation services and CA policy data.  (The location of CRLs is not
>    specified in this extension; that information is provided by the
>    cRLDistributionPoints extension.)  This extension may be included in
>    end entity or CA certificates.  Conforming CAs MUST mark this
>    extension as non-critical.
> 
>    id-pe-authorityInfoAccess OBJECT IDENTIFIER ::= { id-pe 1 }
> 
>    AuthorityInfoAccessSyntax  ::=
>            SEQUENCE SIZE (1..MAX) OF AccessDescription

This means that more than one accessLocation can be included into a Public Key  Certificate.

Considering the inclusion of multiple Status List Token distribution points (TSL_DP) into Referenced Tokens would improve the resilience of this architecture.


Editors Call: 
- we don't agree that this is a good idea, today there are many infrastructure mechanisms behind DNS and co in the internet that enable resilience, multiple URIs are not the best/only approach from 2024 view
- this otherwise also creates the issue what the RP should do if it gets different data from multiple URIs
- pending close

You wrote:

> today there are many infrastructure mechanisms behind DNS and co in the internet

The Internet should not be considered to be the single source of information. 

Multiple sources of information can be useful when the List Status Tokens is provided both on the Internet and on a private network (e.g. a network managed by an administration or for a closed group of organizations) that can provide better availability and throughputs performances. 

You wrote:

> multiple URIs are not the best/only approach from 2024

It is not claimed that "multiple URIs are the best/only approach". 
It is one approach which would be more useful than the complicated OPTIONAL "aggregation_uri" approach.

You wrote:

> this otherwise also creates the issue what the RP should do if it gets different data from multiple URIs

A Status Provider cannot create or forge a  List Status Token. The case where the RP might "get different data from multiple URIs" can easily be solved as soon as the RP performs the usual checks on the List Status Tokens. 

Having the ability to use several Status List Token Distribution Points (SLT_DP) would be useful. 
If is not because this possibility would exist that it shall be used.  





DNS allows to point to different infrastructure/deployments and we should leverage those existing capabilities without introducing complexity at other layers. It is not about a single source of information, but the question where you fan out - we believe that for the time being, relying on DNS for that and keeping things simple in the other parts is a valid choice. 

The claim "aggregation_uri" is meant as a way to allow efficient caching for RPs, not for alternative URIs - it points to all relevant status lists for an issuer or specific referenced token type.