Simplifying compression requirements

I have some concerns about the complexity of the compression requirements:

> 
>    3.  The byte array is compressed using DEFLATE [RFC1951] with the
>        ZLIB [RFC1950] data format.  Implementations are RECOMMENDED to
>        use the highest compression level available.

and

> 
>    The HTTP response SHOULD use gzip Content-Encoding as defined in
>    [RFC9110].

The first quoted requirement adds needless complexity and computation on the part of the issuer, as compression can happen at the HTTP level (as indicated by the second requirement), so an implementation following the recommendations of this specification would end up compressing twice at the highest available compression level. With the second requirement there is ambiguity with how it interacts with the requirements in RFC9110 with respect to handling the Accept-Encoding request header.

My proposal is to remove the requirement for DEFLATE compression on internal structure, and instead rely solely on compression of the entire response using the request/response mechanism defined in RFC9110, section 8.4.

Editors Call:
- create an compression_alg
- create an IANA registry with zlib required
- we are considering adding none, but it seems unclear if the added complexity/negotiation is worth it
- serves as an extension point to enable better ZKP proofs lateron

Editors Call:
- decision at IETF 121 OAuth working group call to not pursue this an simply the specification
- pending close