IANA Registry

- Section 4 of RFC 8126 -> supply registration procedures for the registries
- Define where these registries should be placed

Editors Call:
- we propose to put into OAuth Parameters: https://www.iana.org/assignments/oauth-parameters/oauth-parameters.xhtml