CWT CBOR Tag

From the mailing list:

> Dear Authors,
> 
> https://datatracker.ietf.org/doc/draft-ietf-oauth-status-list/13/ clause 5.2 gives requirements and an example of a Status List Token in CWT format.
> 
> The non-normative example from clause 5.2 clearly uses a tagged structure.
> 
> When checking RFC8392 clause 7.1 step 6:
> 
> “   6.  If needed by the application, prepend the COSE object with the
> 
>        appropriate COSE CBOR tag to indicate the type of the COSE
> 
>        object.  If needed by the application, prepend the COSE object
> 
>        with the CWT CBOR tag to indicate that the COSE object is a CWT.
> 
> ”
> 
> Tagging is optional, could you please indicate in the normative part of clause 5.2 whether tagging is required, and if so which tag to use?

I like this, either option improves interop